body{
    font-family: 'open sans';
    src: url('/fonts/OpenSans-Regular.ttf');
}

main{
    padding-left: 50px;
    padding-right: 50px;
}

.img{
    margin-left: 25%;
}

.header{
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 55px;
    transition: .3s;
    z-index:5;
}

.active{
    transition: .5s;
    background-color: white;
    box-shadow: 0px 1px 2px 0px #cccccc;
}

.navbar{
    padding-left: 50px;
    padding-right: 50px;
}

.nav-item{
    padding-right: 15px;
    padding-left: 15px;
}

.nav-item2{
    padding-left: 100px;
}

.navbar-nav .nav-link{
    color: black !important;
    font-weight: 400;

}

.navbar-nav .nav-link:hover{
    color: rgb(250, 166, 52) !important;
    font-weight: 500;
}
/* 
.navbar-expand-lg{
    background: white;
    box-shadow: 0px 1px 2px 0px #cccccc;

} */

.sticky-top{
    width: 100%;
    position: fixed;
}

h2{
    font-size: 32px;
    font-weight: 700;
    margin-top: 75px;
    margin-bottom: 5px;
}

.welcome{
    margin-top: 25vh;
}

.centered{
    font-size: 58px;
    font-weight: 500;
    position: absolute;
    top: 40vh;
    left: 3%;
    line-height: 1em;
}

.boxs{
    width: 800px;
    padding: 20px;
    background-color:rgba(250, 166, 52, 0.6);
    border-radius: 10px;
    position: absolute;
    color: white;
}

.casestudyimg{
    width: 250px;
}

.box2 {
    background-color: white;
    border-color: black;
    max-width: 250px;
    box-shadow: 0px 5px 5px 0px #cccccc;
    border-radius: 5px;
    margin: 10px;
    align-content: center;
    padding: 0;
}
.col-lg-3:hover{
    background-color: rgba(250, 166, 52, 0.5);
    box-shadow: 0px 10px 5px 0px #cccccc;
    opacity: 1;
    display: block;
    width: 250px;
    height: auto;
    transition: .2s ease;
    backface-visibility: hidden;
    color: white;
}

.branding{
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 14px;
    font-weight: 500;
}

.brandingtitle{
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
}

#icon {
    width: 100px;
    padding: auto;
}

.form-control {
    width: 80vw;
    max-width: 500px;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.subtitle{
    font-size: 18px;
    font-weight: 500;
}

.btn{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(250, 166, 52);
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.btn:hover{
    background-color: rgb(250, 166, 52);
    box-shadow: 0px 5px 5px 0px #cccccc;

}

.workflow{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

footer {
    width: 100%;
    margin-top: 100px;
    background-color:#FAA634;
    color: white;
    padding: 3%;
}

.footer{
    text-align: right;
    margin-right: 40px;
    margin-bottom: 0;
}

.findus{
    margin-bottom:0;
}

@media (max-width: 575.98px){

.header{
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 55px;
    transition: .3s;
    z-index:5;
}

.active{
    transition: .5s;
    background-color: white;
    box-shadow: 0px 1px 2px 0px #cccccc;
}

.navbar{
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
}


.mobile{
    padding-top: 16px;
}

.nav-item{
    padding:0;
}

main{
    padding-left:20px;
    padding-right: 20px;
}

.centered{
    position: absolute;
    top: 10%;
    font-size: 28px;
    padding-left: 10px;
}

h2{
    font-size: 24px;
    margin-top: 40px;
}

.subtitle{
    font-size: 12px;
    font-weight: 500;
}

.img{
    width: 100%;
    margin-left: 0;
}


.img-responsive{
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.boxs{
    width: 88%;
    margin-left: auto;
    position: inherit;
    margin-top: 10px;
}

.text-responsive{
    font-size: 12px;
    color: white;
}

.box2{
    background-color: white;
    border-color: black;
    width: 140px;
    height: auto;
    box-shadow: 0px 5px 5px 0px #cccccc;
    border-radius: 5px;
    margin-bottom: 25px;
    align-content: center;
}

.col-lg-3:hover{
    background-color: rgba(250, 166, 52, 0.5);
    box-shadow: 0px 10px 5px 0px #cccccc;
    opacity: 1;
    display: block;
    width: 140px;
    height: auto;
    transition: .2s ease;
    backface-visibility: hidden;
    color: white;
}

.casestudyimg{
    width: 140px;
}


.branding{
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: -5px;
}

.brandingtitle{
    position: absolute;
    margin-left: -5px;
    margin-bottom: -5px;
    font-size: 14px;
    font-weight: 700;
}

.workflow{
    font-size: 14px;
    margin-top: 0;
    font-weight: 400;
}

footer{
    margin-top: 50px;
}

.footer{
    text-align: center;
    margin-bottom: 0;
    margin-right: 0 !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-menu{
    text-align: center;
    display:block;
    margin-bottom: 10px;
}

.footer-menu2{
    display:block;
    margin-bottom: 10px;
    margin-top: 25px;
}

.findus{
    margin-top: 15px;
    margin-bottom: 15px;
}

}


/* col-sm*/
@media (min-width: 576px) and (max-width: 767.98px){

.header{
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 55px;
    transition: .3s;
    z-index:5;
}

.active{
    transition: .5s;
    background-color: white;
    box-shadow: 0px 1px 2px 0px #cccccc;
}
    

.img{
    width: 100%;
    height: auto;
    position: relative;
}

.navbar{
    padding-left: 25px;
    padding-right: 25px;
}

.nav-item{
    padding-left: 0;
}

h1{
    top: 30vh !important;
    font-size:  48px !important;
}

.img-responsive{
    width: 50vw;
}

.text-responsive{
    font-size: 14px;
}

.boxs{
    padding: 20px;
    background-color:rgba(250, 166, 52, 0.5);
    border-radius: 10px;
    position: absolute;
    color: white;
}

.footer{
    text-align: center;
    margin-bottom: 0;
    margin-right: 0 !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-menu{
    text-align: center;
    display:block;
    margin-bottom: 10px;
}

.footer-menu2{
    display:block;
    margin-bottom: 10px;
    margin-top: 25px;
}

.findus{
    margin-top: 15px;
    margin-bottom: 15px;
}




}

/* col-md*/
@media (min-width: 768px) and (max-width: 991.98px){
    .img{
        width: 100%;
        height: auto;
        position: relative;
    }

    .navbar{
        padding-left: 25px;
        padding-right: 25px;
    }

    h1{
        top: 30vh !important;
        font-size:  48px !important;
    }

    .nav-item{
        padding-left: 0;
    }

    .img-responsive{
        width: 50vw;
    }

    .boxs{
        width: 800px;
        padding: 20px;
        background-color:rgba(250, 166, 52, 0.6);
        border-radius: 10px;
        position: absolute;
        color: white;
    }

    .footer{
        text-align: center;
        margin-bottom: 0;
        margin-right: 0 !important;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .footer-menu{
        text-align: center;
        display:block;
        margin-bottom: 10px;
    }

    .footer-menu2{
        display:block;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .findus{
        margin-top: 15px;
        margin-bottom: 15px;
    }



}


/*col-lg*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .img{
        width: 100%;
        margin-left: 0;
    }

    .casestudyimg{
        width: 200px;
    }
    
    .box2 {
        background-color: white;
        border-color: black;
        max-width: 200px;
        box-shadow: 0px 5px 5px 0px #cccccc;
        border-radius: 5px;
        margin: 10px;
        align-content: center;
        padding: 0;
    }
    .col-lg-3:hover{
        background-color: rgba(0, 167, 157, 0.3);
        box-shadow: 0px 10px 5px 0px #cccccc;
        opacity: 1;
        display: block;
        width: 200px;
        height: auto;
        transition: .2s ease;
        backface-visibility: hidden;
        color: white;
    }
    
    .branding{
        position: absolute;
        bottom: 12px;
        left: 14px;
        font-size: 12px;
        font-weight: 500;
    }
    
    .brandingtitle{
        position: absolute;
        bottom: 4px;
        left: 14px;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
    }

    h2{
        font-size: 28px;
        font-weight: 700;
        margin-top: 75px;
        margin-bottom: 5px;
    }

    .subtitle{
        font-size: 14px;
        font-weight: 500;
    }
    .workflow{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
    }
}

